[run]
branch = True
source = app
omit =
    app/tests/*
    app/db/base.py
    venv/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
